<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hierarchy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="../../js/common.js"></script>
  <script src="../../js/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

  <link rel="stylesheet" href="../../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../css/datatables.min.css" />
  <link rel="stylesheet" href="../../css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="../../css/app.css" />

</head>

<body>

  <nav id="header"></nav>

  <div class="container">
    <h1>Hierarchy</h1>
    <strong>
      <div id="dvMsg"></div>
    </strong>
    <div class="text-right"><a href="/employees" class="btn btn-success">Back</a></div>
    <form id="frm1" onsubmit="validateMe(); return false;">
      <div class="inline-div"><b>Name : </b> &nbsp; <div id="dvName"></div>
      </div>
      <div class="inline-div"><b>Designation:</b> &nbsp; <div id="dvDesi"></div>
      </div>
      <div class="inline-div"><b>Manager Name:</b> &nbsp; <div id="dvManager"></div>
      </div>
      <hr />
      <div class="form-group">
        <label for="combparent">Select Parent</label>
        <select class="form-control" id="cmbParent">
        </select>
      </div>
      <div class="footer-btn">
        <button type="submit" class="btn btn-default btn-grad">Submit</button>
      </div>
    </form>
  </div>

  <div class="overlay none" id="loader">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/datatables.min.js"></script>
  <script src="../../js/common.js"></script>
  <script src="../../js/axios.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/admin.js"></script>

  <script src="../../js/employeesHierarchy.js"></script>

  <script>
    $(function () {
      // console.log( "ready!" );
      setupPage();
    });
  </script>
</body>

</html>