<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employee List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body> 

  <div class="container">
    <div class="row">
      <div class="col-lg-6"><strong>Add Employee</strong></div>
      <div class="col-lg-6 text-right"><a href="detail.html" class="btn btn-success">Add</a></div>
    </div>  

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Zone</th>
            <th>State</th>
            <th>City</th>
            <th>HQ Code</th>
            <th>Emp Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Designation</th>
            <th>HQ Name</th>
            <th>Region</th>
            <th>Dob</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Password</th>
            <th>Is Enabled</th>
            <th>Commnents</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Zone</td>
            <td>State</td>
            <td>City</td>
            <td>HQ Code</td>
            <td>Emp Number</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Designation</td>
            <td>HQ Name</td>
            <td>Region</td>
            <td>Dob</td>
            <td>Mobile</td>
            <td>Email</td>
            <td>Password</td>
            <td>Is Enabled</td>
            <td>Commnents</td>
            <td>
              <a href="add.html">Detail</a>
            </td>
          </tr>
          <tr>
            <td>Zone</td>
            <td>State</td>
            <td>City</td>
            <td>HQ Code</td>
            <td>Emp Number</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Designation</td>
            <td>HQ Name</td>
            <td>Region</td>
            <td>Dob</td>
            <td>Mobile</td>
            <td>Email</td>
            <td>Password</td>
            <td>Is Enabled</td>
            <td>Commnents</td>
            <td><a href="add.html">Detail</a></td>
          </tr>
          <tr>
            <td>Zone</td>
            <td>State</td>
            <td>City</td>
            <td>HQ Code</td>
            <td>Emp Number</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Designation</td>
            <td>HQ Name</td>
            <td>Region</td>
            <td>Dob</td>
            <td>Mobile</td>
            <td>Email</td>
            <td>Password</td>
            <td>Is Enabled</td>
            <td>Commnents</td>
            <td><a href="add.html">Detail</a></td>
          </tr>
          <tr>
            <td>Zone</td>
            <td>State</td>
            <td>City</td>
            <td>HQ Code</td>
            <td>Emp Number</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Designation</td>
            <td>HQ Name</td>
            <td>Region</td>
            <td>Dob</td>
            <td>Mobile</td>
            <td>Email</td>
            <td>Password</td>
            <td>Is Enabled</td>
            <td>Commnents</td>
            <td><a href="add.html">Detail</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    

  </div>
  

</body>
</html>
