<!DOCTYPE html>
<html lang="en">

<head>
  <title>Employee List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" /> -->
  <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" /> -->

  <link rel="stylesheet" href="../../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../css/datatables.min.css" />
  <link rel="stylesheet" href="../../css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="../../css/app.css" />

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="../../js/common.js"></script>
  <script src="../../js/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

</head>

<body>

  <nav id="header"></nav>

  <div class="container">
    <h1>Employee List</h1>
    <div class="text-right">
      <a id="addNewEmp" href="detail.html" class="btn btn-success">Add</a>
    </div>

    <div class="table-responsive">
      <table id="employeesList" class="table">
        <thead>
          <tr>
            <th>Emp Number</th>
            <th>Designation</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Zone</th>
            <th>State</th>
            <th>HQ Code</th>
            <th>HQ Name</th>
            <th>Region</th>
            <th>DOJ</th>
            <th>Active</th>
            <th>Commnents</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>


  </div>
  <!--Data Table-->

  <div class="overlay none" id="loader">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/datatables.min.js"></script>
  <script src="../../js/common.js"></script>
  <script src="../../js/axios.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>
  <script src="../../js/admin.js"></script>

  <!-- <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script> -->

  <!--Data Table-->
  <script src="../../js/employees.js"></script>

  <script>
    $(function () {
      // console.log( "ready!" );
      $('#addNewEmp').attr('href', `${_URL._EMPLOYEE_ADD}`);

      getEmployeeList();

      $('#employeesList').DataTable({
        "iDisplayLength": 100,
        pageLength: 5,
        "language": {
          emptyTable: 'Loading data', // 
          loadingRecords: "Please wait .. ", // default Loading...
          zeroRecords: "No matching records found"
        }
      });
    });

  </script>
</body>

</html>