

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
  <link rel="stylesheet" href="../../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../css/datatables.min.css" />
  <link rel="stylesheet" href="../../css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="../../css/app.css" />

</head>
<body>
    

    <div class="dashboard-main-wrapper">
        <div>
            <h1>Welcome To Dashboard</h1>
            <div class="dashboard-wrapper">
                <div>
                    <div>Total Number of employees </div>
                    <div id="spTotalEmployee"></div>
                </div>
                <div>
                    <div>Total Number of Hospitals</div>
                    <div id="spTotalHospitals"></div>
                </div>
            </div>
        
            <div class="total-number-of">
                <div>Total Number of Hospitals dont belong to anyone: xxx</div>
                 <div>Total Number of Kam dont have any Hospitals: xxx</div>
            </div>
            
            <div class="desktop-links">
                <a href="/hospitals">Hospital List</a>
                <a href="/employees">Employee List</a>
            </div>
            
        </div>
    </div>
    
    
    <script src="../../js/common.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/axios.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/admin.js"></script>
    <script>
        $(function () {
            console.log("ready!");
            getAdminDashboardData();
        });

    </script>
    
  

</body>
</html>

