<html>
<head>
    <title>Login new routes</title>
    <script src="../../js/common.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/axios.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/admin.js"></script>

    
</head>
<body>
    <div id="lblmsg"></div>
    <form onsubmit="letMeLogin();return false;">
        <input type="text" name='txtUsername' id='txtUsername' placeholder="username" value="vishal.bajaj@bsvgroup.com"/>
        <input type="text" name='txtPassword' id='txtPassword' placeholder="password" value='BSV@112233'/>
     <button>Login</button>
    </form>
</body>
</html>